/* styles.css */
.service-icon {
    font-size: 3rem;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.service-icon {
    font-size: 3rem;
}
.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.whatsapp-button {
    position: fixed;
    bottom: 10px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde el lado derecho */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.whatsapp-button img {
    width: 40px; /* Tamaño pequeño */
    height: 40px; /* Tamaño pequeño */
    border-radius: 50%; /* Hace el botón redondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al hacer hover */
}

    .professional-button {
        display: inline-block;
        padding: 12px 30px;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background-color: black; /* Fondo negro */
        border: 2px solid transparent; /* Sin borde visible inicialmente */
        border-radius: 30px; /* Bordes redondeados */
        transition: all 0.3s ease;
        position: relative;
    }

    .professional-button .arrow {
        display: inline-block;
        margin-left: 10px;
        transition: transform 0.3s ease;
    }

    .professional-button:hover {
        background-color: white; /* Fondo blanco al pasar el cursor */
        color: black; /* Texto negro */
        border-color: black; /* Borde negro al hacer hover */
    }

    .professional-button:hover .arrow {
        transform: translateX(5px); /* Desplazamiento de la flecha */
    }

    .professional-button:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Sombra elegante */
    }
    .title {
        font-size: 3rem; /* Tamaño grande para resaltar */
        font-weight: 700; /* Negrita */
        color: white; /* Texto blanco */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para sobresalir */
        margin-bottom: 20px; /* Separación del botón */
    }

    