/* General */
body {
    background: linear-gradient(135deg, #1A1A2E, #16213E);
    color: #E0A6F3;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.content-container {
    background: rgba(20, 20, 40, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

/* Títulos */
h1, h2 {
    color: #E0A6F3;
}

/* Título principal */
.title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

/* Iconos de servicio */
.service-icon {
    font-size: 3rem;
}

/* Tarjetas */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Botón profesional */
.professional-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
    position: relative;
}

.professional-button .arrow {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.professional-button:hover {
    background-color: white;
    color: black;
    border-color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.professional-button:hover .arrow {
    transform: translateX(5px);
}

/* Insignias */
.badge {
    background: #A65FCF;
    font-size: 1.2em;
}

/* Contacto */
.contacto p {
    color: #FFD700;
}

/* Iconos sociales */
.social-icons a {
    color: #FFD700;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}
